body {
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}

#main_container {
    width: 100vw;
    display: flex;
}
.left-menu-section {
    flex: 1;
    margin-left: 100px;
    position: fixed;
    top: 100px;
}

.strips {
    display: flex;
}

.strip-lines {
    width: 5px;
    height: 25px;
    background-color: red;
    padding: 2px;
    margin: 0px 10px 10px 0px;
}

.outer-ul {
    color: gray;
    line-height: 25px;
    font-size: large;
}
.outer-ul a {
    text-decoration: none;
    color: gray;
}

.right-menu-section {
    flex: 3;
    width: 60%;
    margin-right: 6.2%;
    margin-left: 30%;
    margin-top: 2%;
}

.right-menu-section hr {
    width: 860px;
    height: 1px;
    background-color: black;
    margin-left: 0px;
    
}

#main_search-bar {
    width: 200px;
    height: 30px;
    margin-top: 80px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: 1px solid #cecece;
}

#main_search-bar div {
    margin-top: 5px;
}

#main_search-bar input {
    flex: 0.9;
    height: 28px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
}

#c_b {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-right: 85px;
}

#c_b>div{
    width: 400px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#c_b h3 {
    padding-left: 6%;
}

#c_b p {
    padding-left: 6%;
}

.description {
    height: 50px;
    margin-bottom: 20px;
    overflow: hidden;
}

#c_b img {
    width: 400px;
    padding-left: 0%;
}

.right-menu-section button {
    width: 60%;
    margin-left: 17%;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid red;
}

.right-menu-section button:hover {
    font-size: 20px;
    border: 1px solid rgba(32,33,36,.6509803921568628);
    background-color: rgba(32,33,36,.6509803921568628);
}

#b_b, #b_m, #bgr, #s_h, #snk, #bvg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-right: 85px;

}
#b_b>div {
    margin-bottom: 25px;
    padding-bottom: 25px;
}
#b_m>div {
    margin-bottom: 25px;
    padding-bottom: 25px;
}
#bgr>div {
    margin-bottom: 25px;
    padding-bottom: 25px;
}
#s_h>div {
    margin-bottom: 25px;
    padding-bottom: 25px;
}
#snk>div {
    margin-bottom: 25px;
    padding-bottom: 25px;
}
#bvg>div {
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.image_size>div {
    width: 280px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image_size img {
    width: 280px;
}

.image_size h3 {
    padding-left: 6%;
}

.image_size p {
    padding-left: 6%;
}

#popup_container {
    width: 100vw;
    display: none;
    position: absolute;
    background-color: #cecece;
}


#popup_left {
    flex: 1;
    margin-left: 100px;
    position: fixed;
    top: 100px;
}

#popup_right {
    flex: 3;
    width: 60%;
    margin-right: 6.2%;
    margin-left: 30%;
}

#popup_right hr {
    width: 860px;
    height: 1px;
    background-color: black;
    margin-left: 0px;
}

#popup_search-bar {
    width: 200px;
    height: 30px;
    margin-top: 80px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: 1px solid #cecece;
}

#popup_search-bar div {
    margin-top: 5px;
}

#popup_search-bar input {
    flex: 0.9;
    height: 28px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: bold;
}

#searched_food div {
    width: 280px;
}

#searched_food img {
    width: 280px;
}