#navbar {
    display: flex;
    /* justify-content: space-between; */
    padding-left: 4%;
    padding-right: 4%;
    background-color: white;
    /* border: solid 1px black; */
    width: 100vw;

    height: 100px;
    z-index: 9999;
    top: 0;
    /* bottom: 20; */
    position: fixed;
}

.navItemLeft {
    display: flex;
    padding-top: 6px;
    font-family: 'Fira Sans Condensed', sans-serif;
    position: relative;
}

.navItemLeft > a {
    text-decoration: none;
    all: unset;
    cursor: pointer;
    position: relative;
    padding-top: 20%;
    margin-right: 50px;
    text-decoration: none;
    font-weight: 550;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 15px;
    color: #202124;
}

.navItemRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-left: 31%;
    position: relative;
}

a img {
    width: 76px;
    height: 23px;
    margin-top: 38px;
    margin-right: 44.26px;
    margin-bottom: 39.48px;
    margin-left: 130px;
    cursor: pointer;
}

.accountIcon {
    display: flex;
    border-right: 1px solid #cecece;
    cursor: pointer;
    width: 20%;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 70px;
    font-size: 13px;
}
.accountIcon a {
    text-decoration: none;
    margin-left: 3%;
    font-weight: bolder;
    color: black;
}
.accountIcon span {
    margin-left: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 900;
    text-decoration: none;
}

.accountIcon img {
    width: 20px;
    height: 20px;
}

.bucketIconDiv {
    display: flex;
    cursor: pointer;
    padding-left: 20px;
}

.bucketIconDiv span {
    padding-top: 20px;
    padding-left: 5px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: normal;
    font-size: 13px;
}

.bucketIcon img {
    width: 51px;
    height: 51px;
    margin-top: 8%;
}

#cartIconCount {
    position: absolute;
    top: 0;
    right: 145px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 15px;
    font-size: 13px;
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
}



/* Footer CSS Starts From Here */


.footer {
    width: 100%;
    background-color: rgb(32,33,36);
    margin-top: 10%;
    padding-top: 5%;
    margin-bottom: 0%;
    position: sticky;
}

.kfcLogo {
    margin-left: 50px;
    margin-right: 50px;
}

.kfcLogo img {
    width: 60px;
    height: 60px;
}

.footerFoot {
    display: flex;
    margin-bottom: 5%;
    padding-right: 2%;
}

.footerFoot ul {
    margin-right: 50px;
}

.footerFoot ul li {
    list-style: none;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    cursor: pointer;
    font-weight: 200;
}

.location {
    display: flex;
}

.location div a {
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 15px;
}

.locationLogo {
    margin-right: 10px;
}

.locationLogo img {
    width: 11px;
    height: 15px;
}

.buttonLogos {
    display: flex;
    margin-left: 100px;
}

.buttonLogo1 {
    margin-right: 30px;
}

.buttonLogo1 img, .buttonLogo2 img {
    width: 119.7px;
    height: 40.5px;
    cursor: pointer;
}

.bottomMost {
    display: flex;
    justify-content: center;
    margin-left: 40%;
}

.copyright {
    margin-right: 40%;
    padding-top: 15px;
}

.copyright p {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 12px;
    text-align: center;
    opacity: .9;
    line-height: 12px;
    color: #dbdbdb;
}

.socialMedia ul {
    display: flex;
    padding-bottom: 10px;
}

.socialMedia ul li {
    margin-right: 10px;
}
